<main class="container mt-5 mb-5">
  <h1 class="text-center">Bookcase</h1>
  <section class="bookquiz">
    <div class="card" *ngFor="let item of getBooks()">
      <div class="card-header">
        <a
          *ngIf="isEditable(item)"
          href="#"
          class="bi bi-pencil btn btn-warning btn-sm sticky-top float-end"
          [routerLink]="['/', 'book', item.id, 'edit']"
          ><span class="visually-hidden">Edit book</span></a
        >
        <a
          *ngIf="!isEditable(item)"
          href="#"
          class="bi bi-pencil btn btn-outline-secondary btn-sm sticky-top float-end disabled"
          ><span class="visually-hidden">No editable</span></a
        >
        <img
          src="{{ item.mediaURL }}"
          width="100"
          height="100"
          class="card-img-top"
          alt=""
          *ngIf="
            item.mediaType != undefined &&
            item.mediaType == 'img' &&
            item.mediaURL != undefined
          "
        />
        <img
          src="assets/book.svg"
          width="100"
          height="100"
          class="card-img-top"
          alt=""
          *ngIf="
            !(
              item.mediaType != undefined &&
              item.mediaType == 'img' &&
              item.mediaURL != undefined
            )
          "
        />
        <h5 class="card-title text-center mb-2 mt-2">{{ item.title }}</h5>
        <h6 class="card-subtitle text-muted">{{ item.author }}</h6>
      </div>

      <div class="card-body" style="overflow-y: auto">
        <p class="card-text">{{ item.description }}</p>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-evenly">
          <a
            href="#"
            class="btn btn-primary btn-lg"
            [routerLink]="['/', 'book', item.id, 'show']"
            >Read <span class="visually-hidden">First page</span></a
          >
          <a
            href="#"
            class="btn btn-outline-primary btn-lg"
            [routerLink]="['/', 'book', item.id, 'show', getLastPage(item.id)]"
            >Bookmark <span class="visually-hidden">Furthest Page Read</span></a
          >
        </div>
      </div>
    </div>
  </section>
</main>
<div class="container mt-5 mb-5">
  <a
    href="#"
    class="bi bi-plus-square btn btn-success"
    [routerLink]="['/', 'book', 'new']"
  >
    New book</a
  >
</div>
