<nav
  class="navbar navbar-expand navbar-dark sticky-top bg-dark d-flex justify-content-between"
  style="z-index: 10000"
>
  <a href="#" class="navbar-brand">
    <img
      src="assets/logo.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Quizza
  </a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="/book" class="nav-link" routerLink="book">Bookcase</a>
    </li>
  </ul>

  <ul
    class="navbar-nav ml-auto"
    routerLinkActive="active"
    *ngIf="!isLoggedIn()"
  >
    <li class="nav-item">
      <a href="/signup" class="nav-link" routerLink="signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" routerLink="login">Login</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ user.avatar }}"
          width="30"
          height="30"
          class="d-inline-block align-center rounded"
          alt=""
          *ngIf="this.user != undefined && this.user.avatar != undefined"
        />
        {{ this.user!.username }}
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end dropdown-menu-dark border-dark bg-dark"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <a href="/profile" class="dropdown-item" routerLink="profile"
            >Profile</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a href="#" class="dropdown-item" (click)="logout()">LogOut</a></li>
      </ul>
    </li>
  </ul>
</nav>
