<h2 class="text-center">Bookmark History</h2>
<div class="">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngIf="bookId == undefined">Book</th>
        <th scope="col">Order</th>
        <th scope="col">BookPage</th>
        <th scope="col">Answer</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of getBookmarkHistory(bookId)">
      <tr>
        <th scope="row" *ngIf="bookId == undefined">
          {{ item.bookId }} - {{ getBookTitle(item.bookId) }}
        </th>
        <th scope="row">{{ item.id }}</th>
        <td>
          {{ item.bookPageId }} -
          {{ getBookpageTitle(item.bookId, item.bookPageId) }}
        </td>
        <td>
          {{ item.AnswerId }} -
          {{ getAnswer(item.bookId, item.bookPageId, item.AnswerId) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
