<div class="col-md-12 mx-auto mt-3">
  <div class="card mx-3">
    <form name="formBook" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
      <div class="form-group m-2 form-floating invisible">
        <input
          type="hidden"
          formControlName="bookId"
          class="form-control"
          name="bookId"
          [ngClass]="{ 'is-invalid': getForm().bookId.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="bookId">id</label>
        <div class="invalid-feedback" *ngIf="getForm().bookId.errors">
          <div *ngIf="getForm().bookId.errors?.required">Error ID</div>
        </div>
      </div>
      <div class="form-group m-2 form-floating">
        <input
          type="text"
          formControlName="title"
          class="form-control"
          name="title"
          [ngClass]="{ 'is-invalid': getForm().title.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="title">Title</label>
        <div class="invalid-feedback" *ngIf="getForm().title.errors">
          <div *ngIf="getForm().title.errors?.required">Title is required</div>
          <div *ngIf="getForm().title.errors?.minlength">
            Title must be at least 1 characters
          </div>
          <div *ngIf="getForm().title.errors?.maxlength">
            Title must be at most 50 characters
          </div>
        </div>
      </div>

      <div class="form-group m-2 form-floating">
        <input
          type="text"
          formControlName="version"
          class="form-control"
          name="version"
          [ngClass]="{ 'is-invalid': getForm().version.errors }"
          required
          minlength="5"
          maxlength="10"
          pattern="^[0-9]\d*(\.[0-9]\d*)*$"
        /><label for="version">Version</label>
        <div class="invalid-feedback" *ngIf="getForm().version.errors">
          <div *ngIf="getForm().version.errors?.required">
            Version is required
          </div>
          <div *ngIf="getForm().version.errors?.minlength">
            Version must be at least 5 characters
          </div>
          <div *ngIf="getForm().version.errors?.maxlength">
            Version must be at most 10 characters
          </div>
          <div *ngIf="getForm().version.errors?.pattern">
            Version format invalid (Format: major.minor.revision Ex: 12.3.2)
          </div>
        </div>
      </div>

      <div class="form-group m-2 form-floating">
        <textarea
          type="text"
          formControlName="description"
          class="form-control"
          name="description"
          [ngClass]="{ 'is-invalid': getForm().description.errors }"
          required
          minlength="1"
          maxlength="500"
          style="height: 100px"
        ></textarea
        ><label for="version">Description</label>
        <div class="invalid-feedback" *ngIf="getForm().description.errors">
          <div *ngIf="getForm().description.errors?.required">
            Description is required
          </div>
          <div *ngIf="getForm().description.errors?.minlength">
            Description must be at least 1 characters
          </div>
          <div *ngIf="getForm().description.errors?.maxlength">
            Description must be at most 500 characters
          </div>
        </div>
      </div>
      <div class="form-group m-2 form-floating">
        <input
          type="text"
          formControlName="author"
          class="form-control"
          name="author"
          [ngClass]="{ 'is-invalid': getForm().author.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="author">Author</label>
        <div class="invalid-feedback" *ngIf="getForm().author.errors">
          <div *ngIf="getForm().author.errors?.required">
            Author is required
          </div>
          <div *ngIf="getForm().author.errors?.minlength">
            Author must be at least 1 characters
          </div>
          <div *ngIf="getForm().author.errors?.maxlength">
            Author must be at most 50 characters
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md-2">
          <div class="form-group m-2 form-floating">
            <select
              class="form-select form-control"
              formControlName="mediaType"
              name="mediaType"
              minlength="1"
              maxlength="50"
              [ngClass]="{ 'is-invalid': getForm()?.mediaType?.errors }"
            >
              <option [selected] [ngValue]="null">None</option>
              <option *ngFor="let media of mediaTypes" [ngValue]="media.value">
                {{ media.name }}
              </option>
            </select>
            <label for="mediaType">Media type</label>
            <div class="invalid-feedback" *ngIf="getForm()?.mediaType?.errors">
              <div *ngIf="getForm()?.mediaType?.errors?.minlength">
                Media type must be at least 1 characters
              </div>
              <div *ngIf="getForm()?.mediaType?.errors?.maxlength">
                Media type must be at most 50 characters
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-group m-2 form-floating">
            <input
              type="text"
              class="form-control"
              formControlName="mediaURL"
              name="mediaURL"
              minlength="1"
              maxlength="500"
              [ngClass]="{ 'is-invalid': getForm()?.mediaURL?.errors }"
              pattern="http[s]?://.+"
            /><label for="mediaURL">Media URL</label>
            <div class="invalid-feedback" *ngIf="getForm().mediaURL?.errors">
              <div *ngIf="getForm()?.mediaURL?.errors?.minlength">
                Media URL must be at least 1 characters
              </div>
              <div *ngIf="getForm()?.mediaURL?.errors?.maxlength">
                Media URL must be at most 500 characters
              </div>
              <div *ngIf="getForm()?.mediaURL?.errors?.pattern">
                Media URL invalid
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-around m-4">
        <button class="btn btn-primary btn-block">Save</button>
        <a
          href="/book"
          class="btn btn-outline-primary btn-block"
          routerLink="/book"
          >Back</a
        >
      </div>

      <div
        class="alert alert-warning"
        *ngIf="submitted && this.errorMessage != ''"
      >
        Update failed!<br />{{ errorMessage }}
      </div>
    </form>
  </div>
  <app-bookpage-list
    [bookId]="this.book.id"
    *ngIf="this.book.id != 0"
  ></app-bookpage-list>
  <div class="m-3 d-flex justify-content-between">
    <a
      href="#"
      class="bi bi-plus-square btn btn-success"
      [routerLink]="['/', 'book', this.book.id, 'bookpage', 'new']"
    >
      New bookpage</a
    >
    <a class="bi bi-trash btn btn-danger mx-3" (click)="deleteBook(this.book)">
      <span> Remove Book</span>
    </a>
  </div>
</div>
