<div class="col-md-12 mx-auto mt-3">
  <div class="card mx-3">
    <form
      name="bookpageForm"
      (ngSubmit)="onSubmit()"
      [formGroup]="bookpageForm"
    >
      <div class="form-group m-2 form-floating invisible">
        <input
          type="hidden"
          formControlName="bookId"
          class="form-control"
          name="bookId"
          [ngClass]="{ 'is-invalid': getForm().bookId.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="bookId">Book Id</label>
        <div class="invalid-feedback" *ngIf="getForm().bookId.errors">
          <div *ngIf="getForm().bookId.errors?.required">Error Book ID</div>
        </div>
      </div>
      <div class="form-group m-2 form-floating invisible">
        <input
          type="hidden"
          formControlName="bookpageId"
          class="form-control"
          name="bookpageId"
          [ngClass]="{ 'is-invalid': getForm().bookpageId.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="bookpageId">id</label>
        <div class="invalid-feedback" *ngIf="getForm().bookpageId.errors">
          <div *ngIf="getForm().bookpageId.errors?.required">
            Error Bookpage ID
          </div>
        </div>
      </div>
      <div class="form-group m-2 form-floating">
        <input
          type="text"
          formControlName="title"
          class="form-control"
          name="title"
          [ngClass]="{ 'is-invalid': getForm().title.errors }"
          required
          minlength="1"
          maxlength="50"
        /><label for="title">Title</label>
        <div class="invalid-feedback" *ngIf="getForm().title.errors">
          <div *ngIf="getForm().title.errors?.required">Title is required</div>
          <div *ngIf="getForm().title.errors?.minlength">
            Title must be at least 1 characters
          </div>
          <div *ngIf="getForm().title.errors?.maxlength">
            Title must be at most 50 characters
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md-2">
          <div class="form-group m-2 form-floating">
            <select
              class="form-select form-control"
              formControlName="mediaType"
              name="mediaType"
              minlength="1"
              maxlength="50"
              [ngClass]="{ 'is-invalid': getForm()?.mediaType?.errors }"
            >
              <option [selected] [ngValue]="null">None</option>
              <option *ngFor="let media of mediaTypes" [ngValue]="media.value">
                {{ media.name }}
              </option>
            </select>
            <label for="mediaType">Media type</label>
            <div class="invalid-feedback" *ngIf="getForm()?.mediaType?.errors">
              <div *ngIf="getForm()?.mediaType?.errors?.minlength">
                Media type must be at least 1 characters
              </div>
              <div *ngIf="getForm()?.mediaType?.errors?.maxlength">
                Media type must be at most 50 characters
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="form-group m-2 form-floating">
            <input
              type="text"
              class="form-control"
              formControlName="mediaURL"
              name="mediaURL"
              minlength="1"
              maxlength="500"
              [ngClass]="{ 'is-invalid': getForm()?.mediaURL?.errors }"
              pattern="http[s]?://.+"
            /><label for="mediaURL">Media URL</label>
            <div class="invalid-feedback" *ngIf="getForm().mediaURL?.errors">
              <div *ngIf="getForm()?.mediaURL?.errors?.minlength">
                Media URL must be at least 1 characters
              </div>
              <div *ngIf="getForm()?.mediaURL?.errors?.maxlength">
                Media URL must be at most 500 characters
              </div>
              <div *ngIf="getForm()?.mediaURL?.errors?.pattern">
                Media URL invalid
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group m-2 form-floating">
        <textarea
          type="text"
          formControlName="text"
          class="form-control"
          name="text"
          [ngClass]="{ 'is-invalid': getForm().text.errors }"
          required
          minlength="1"
          maxlength="500"
          style="height: 100px"
        ></textarea
        ><label for="text">Text</label>
        <div class="invalid-feedback" *ngIf="getForm().text.errors">
          <div *ngIf="getForm().text.errors?.required">Text is required</div>
          <div *ngIf="getForm().text.errors?.minlength">
            Text must be at least 1 characters
          </div>
          <div *ngIf="getForm().text.errors?.maxlength">
            Text must be at most 500 characters
          </div>
        </div>
      </div>

      <div class="form-group m-2 form-floating">
        <textarea
          type="text"
          formControlName="question"
          class="form-control"
          name="question"
          [ngClass]="{ 'is-invalid': getForm().question.errors }"
          minlength="1"
          maxlength="500"
          style="height: 100px"
        ></textarea
        ><label for="question">Question</label>
        <div class="invalid-feedback" *ngIf="getForm().question.errors">
          <div *ngIf="getForm().question.errors?.required">
            Question is required
          </div>
          <div *ngIf="getForm().question.errors?.minlength">
            Question must be at least 1 characters
          </div>
          <div *ngIf="getForm().question.errors?.maxlength">
            Question must be at most 500 characters
          </div>
        </div>
      </div>

      <div class="card mx-2 my-3">
        <p class="mx-3">Answers ({{ this.bookpage.answers.length }})</p>
        <div
          formArrayName="answers"
          *ngFor="let itemAnswer of getAnswersForm().controls; let i = index"
        >
        <div [formGroupName]="i">
          <div class="row g-2 align-items-center">
          <div class="col-md-5">
            <div class="form-group m-2 form-floating">
              <textarea
                type="text"
                class="form-control"
                [attr.id]="'answer' + i"
                minlength="1"
                maxlength="500"
                style="height: 100px"
                formControlName="answer"
                ></textarea
              ><label [attr.for]="'answer' + i">Answer {{ i }}</label>
            </div>
          </div>
          <div class="col-md-1 text-center">--(go to Page)--></div>
          <div class="col-md-5">
            <div class="form-group m-2 form-floating">
              <select class="form-select form-control" [attr.id]="'goPage' + i"
              formControlName="goPage">
                <option [selected] disabled [ngValue]="null">Select one...</option>
                <option
                  *ngFor="let item of this.book.pages"
                  [ngValue]="item.id"
                >
                  {{ item.id + " - " + item.title }}
                </option>
              </select>
              <label [attr.for]="'goPage' + i">Go to</label>
            </div>
          </div>
          <div class="col-md-1 text-center"><a class="btn btn-danger" (click)="deleteAnswerForm(i)">Remove</a></div>
          </div>
        </div>
        </div>
        <div class="form-group">
          <a class="btn btn-primary" (click)="insertAnswerForm()">Add answer</a>
        </div>
      </div>
      <div class="card mx-2 my-3">
        <p class="mx-3">
          Rules (if you selected) ({{ this.bookpage.redirect?.length }})
        </p>
        <div
          class="row g-2 align-items-center"
          *ngFor="let itemRedirect of this.bookpage.redirect"
        >
          <div class="col-1">
            <div class="form-group m-2 form-floating">
              Rule {{ itemRedirect.id }}
            </div>
          </div>
          <div class="col-3">
            <div class="form-group m-2 form-floating">
              <select class="form-select form-control" name="redirectbookpage">
                <option [selected] disabled [ngValue]="null">Select one...</option>
                <option
                  *ngFor="let item of this.book.pages"
                  [ngValue]="item.id"
                  [selected]="item.id == itemRedirect.bookPageId"
                >
                  {{ item.id + " - " + item.title }}
                </option>
              </select>
              <label for="redirectbookpage">Bookpage selected</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group m-2 form-floating">
              <select class="form-select form-control" name="redirectanswer">
                <option [selected] [ngValue]="null">Any</option>
                <option
                  *ngFor="let item of getAnswersPage(itemRedirect.bookPageId)"
                  [ngValue]="item.id"
                  [selected]="item.id == itemRedirect.AnswerId"
                >
                  {{ item.id + " - " + item.answer }}
                </option>
              </select>
              <label for="redirectanswer">Answer selected</label>
            </div>
          </div>
          <div class="col-2 text-center">--(then go to page)--></div>
          <div class="col-3">
            <div class="form-group m-2 form-floating">
              <select class="form-select form-control" name="redirectgoTo">
                <option [selected] disabled [ngValue]="null">Select one...</option>
                <option
                  *ngFor="let item of this.book.pages"
                  [ngValue]="item.id"
                  [selected]="item.id == itemRedirect.goPage"
                >
                  {{ item.id + " - " + item.title }}
                </option>
              </select>
              <label for="redirectgoTo">Go to</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-around m-4">
        <button class="btn btn-primary btn-block">Save</button>
        <a
          href="#"
          class="btn btn-outline-primary btn-block"
          [routerLink]="['/', 'book', this.book.id, 'edit']"
          >Back</a
        >
      </div>

      <div
        class="alert alert-warning"
        *ngIf="submitted && this.errorMessage != ''"
      >
        Update failed!<br />{{ errorMessage }}
      </div>
    </form>
  </div>
</div>
