<article class="card" >
  <div class="card-body">
    <div class="card-title bi bi-question-circle-fill display-1 text-primary"></div>
    <p class="pregunta card-text">{{question.question}}</p>
  </div>
  <ul class="respuestas list-group list-group-flush">
    <li class="respuesta list-group-item list-group-item-action active">
      {{question.answerOK}}
    </li>
    <li class="respuesta list-group-item list-group-item-action">
      {{question.answerKO1}}
    </li>
    <li class="respuesta list-group-item list-group-item-action">      {{question.answerKO2}}
    </li>
    <li class="respuesta list-group-item list-group-item-action">      {{question.answerKO3}}
    </li>
  </ul>
</article>
