
<main class="container  text-center mt-5 mb-5">
  <section class="prueba">
        <article class="card" >
          <div class="card-body">
            <div class="card-title">
            <span class="rounded-circle bg-dark badge text-warning ">?
            </span> <span class="card-title align-middle bi bi-question-circle-fil">Título</span></div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis dolorum dicta quidem corporis, laudantium voluptas consequatur modi similique, fugit eos aut reiciendis iste rerum harum, rem saepe facilis blanditiis!</p>
          </div>
          <span class="bi bi-question-circle-fil">Título</span>
          <div class="btn-group-vertical" role="group" aria-label="respuesta">
            <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, dolores doloribus nihil modi quisquam minima.</button>
            <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quo, laudantium pariatur explicabo quasi optio!</button>
            <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, blanditiis.</button>
            <button type="button" class="btn btn-outline-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sunt.</button>
          </div>
        </article>
      </section>
  
  </main>
  